.form__input-text {
  width: 42%;
  padding: 15px;
  border: none;
  border-radius: 5px;
  background-color: #F2F2F2;
  box-shadow: 0 0 5px 1px slategray inset;
  transition: box-shadow .2s linear;
}

.form__input-text::placeholder {
  opacity: .5;
}

.form__input-text:focus {
  outline: none;
  box-shadow: 5px 5px 9px #2F80Ed;
  border-left: 4px solid #2F80ED;
  transition: box-shadow .2s linear;
}
