.header__link {
  color: #2f80ed;
  text-decoration: none;
  -webkit-transition: opacity .5s linear;
  -o-transition: opacity .5s linear;
  transition: opacity .5s linear;
}

.header__link:hover {
  opacity: .4;
}
