.resources__logo {
  width: 270px;
  height: 38px;
  vertical-align: middle;
  -webkit-transition: opacity .5s linear;
  -o-transition: opacity .5s linear;
  transition: opacity .5s linear;
}

.resources__logo:hover {
  opacity: .4;
}
